﻿@using WebTestExample.Objects
@using WebTestExample.Models

    <div class="row">

        @{

            var homePageObject = (HomePageObject)ViewData["HomePageObject"];
            var currencyList = (homePageObject != null) ? homePageObject.CurrencyList : null;
        }

        @if (@currencyList != null && @currencyList.Count() > 0)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">Shop</div>
                            <div class="panel-body">
                                <form id="shopForm" method="post" action="api/shop/order">
                                    <div class="row" styel="margin-bottom:15px">
                                        <div class="form-group col-sm-12">
                                            <label for="currencySelect">Currency select</label>
                                            <select class="form-control" id="currencySelect" name="CurrencyID" required>
                                                <option>Please select currency</option>
                                                @foreach (var curr in @currencyList)
                                                {
                                                    <option value="@curr.CurrencyID">@curr.CurrencyName</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="">Amount in Foreign Currency</label>
                                            <input type="number" class="form-control" id="ForeignCurrValue" placeholder="Enter Amount Of Foreign Currency" name="ForeignCurrValue">
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="">Amount in Native Currency</label>
                                            <input type="number" class="form-control" id="NativeCurrValue" placeholder="Enter Amount Of Native Currency" name="NativeCurrValue">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-default btn-block">Order</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         }
    </div>
