﻿
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form id="login" method="post" action="api/user/login">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="Password" required>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                        </div>
                        <div class="col-sm-6"> 
                            <button type="submit" class="btn btn-default btn-block">Login</button> 
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-default btn-block" onclick="location.href='@Url.Action("Register", "Routes")';return false;">Register Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

