﻿
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form id="create_user" method="post" action="api/user/create">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">First Name:</label>
                            <input type="text" class="form-control" id="fName" placeholder="Enter First Name" name="FirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Last Name:</label>
                            <input type="text" class="form-control" id="lName" placeholder="Enter Surname" name="LastName" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">ConfirmPassword:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="ConfirmPassword" required>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default btn-block">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

